.chat-main
  .chat-main__group-info
    .chat-main__group-info--title
      = @group.name
      .chat-main__group-info--title-list
        Member :
        .chat-main__group-info--title-list--name
          - @group.users.each do |user|
            = user.name
    .chat-main__group-info--edit
      = link_to edit_group_path(@group), class:"chat-main__group-info--edit chat-main__group-info--edit--btn" do
        Edit

  .chat-main__massage-list
    .messages
    = render @messages
      
  .chat-main__massage-from
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat-main__massage-from-text', placeholder: 'type a message'
      = f.label :image, class: 'chat-main__massage-from-image' do
        = icon('far', 'image',)
        = f.file_field :image, class: 'chat-main__massage-from-image-btn'
      = f.submit 'Send', class: 'chat-main__massage-from-submit'


   
  