.side-ber
  .side-ber__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icon
        = link_to edit_user_path(current_user), class: "top-items__icon top-items__icon--btn" do
          %i.far.fa-edit
        = link_to "#", class: "top-items__icon top-items__icon--btn" do
          %i.fa.fa-cog
      
  .side-ber__group-list
    .side-ber__group-list--chart
      = link_to "#", class: "side-ber__group-list--chart--title" do
        text
      .side-ber__group-list--chart--comment
        text
    .side-ber__group-list--chart
      = link_to "#", class: "side-ber__group-list--chart--title" do
        text
      .side-ber__group-list--chart--comment
        text
  